{%extends 'base.html'%}
{%block body%}
<div class="container">
    {%if messages%}
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            {%for msg in messages%}
            
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{msg}}!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {%endfor%}
        </div>
        <div class="col-4"></div>
    </div>
    {%endif%}
</div>
<div class="container" style="height: 700px;align-items: center;">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form action="" method="post">
                {%csrf_token%}
                <div class="mb-3 mt-5"><input type="text" class="form-control" style="height: 50px;" name="name" id="id_name" placeholder="category name"></div>
                <div><button class="btn btn-primary mt-3 form-control" type="submit">Add category</button></div>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>

{%endblock%}